:root {
  --pink-color: #fa3879;
  --orage-color: #ff8000;
  --blue-color: #5773ff;
  --green-color: #00cc88;
  --white-color: #ffffff;
  --black-color: #282c35;
  --violet-color: #ba8fff;
  --yellow-color: rgb(255, 238, 0);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a {
  color: white;
}
.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  color: var(--white-color);
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.webapp {
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  color: var(--white-color);
}
#tsparticles {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
blockquote {
  padding: 20px;
  background-color: rgb(37, 35, 35, 0.5);
  border-radius: 2px;
  border-left: 3px solid var(--green-color);
  margin: 20px 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(138, 138, 138);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58);
  border-radius: 2px;
}
.textcolor-pink {
  color: var(--pink-color);
}
.textcolor-orage {
  color: var(--orage-color);
}
.textcolor-blue {
  color: var(--blue-color);
}
.textcolor-green {
  color: var(--green-color);
}
.textcolor-black {
  color: var(--black-color);
}
.textcolor-violet {
  color: var(--violet-color);
}
.textcolor-yellow {
  color: rgb(255, 238, 0);
}
.text-bold {
  font-weight: bold;
}
.flex-alight {
  display: flex;
  align-items: center;
}
.mr-10 {
  margin-right: 10px;
}
@media (max-width: 739px) {
  .hiddenOnMobile {
    display: none;
  }
}
/* @media (min-width: 1024px) and (max-width: 1239px) {
  .App {
    width: 984px;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  .App {
    width: 644px;
  }
} */

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
